<!DOCTYPE html>
<html lang="pl">

    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta> 
        <meta name="description" content="RL SHOP - sklep internetowy"/>
        <meta name="author" content="Radosław Lechowicz"/>
        <meta name="keywords" content="rl shop sklep internetowy"/>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
        <!-- Title Page -->
        <title>RL SHOP - sklep internetowy</title>
        <!-- CSS -->
    <th:block th:include="include/css" />
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <header th:include="include/header"  class="main-header"></header>
        <aside th:include="include/sidebar" class="main-sidebar"></aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    <i class="fa fa-chevron-circle-right"></i> Nazwa podstrony
                    <small>Miejsce na opis</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/"><i class="fa fa-home"></i> RL SHOP</a></li>
                    <li class="active">Nazwa podstrony</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                
				

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer th:include="include/footer" class="main-footer"></footer>

    </div>
    <!-- ./wrapper -->

    <!-- JS -->
<th:block th:include="include/js" />

</body>
</html>
